{% extends "base.html" %}
{% load static %}
{% block contenu %}
<!-- Carte Informatique -->
<div class="card-informatique card-wide mdl-card mdl-cell--6-col mdl-shadow--3dp">
    <!-- Titre -->
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Informatique</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Blabla
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'index' 'Informatique' %}">
      Open
    </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>

<!-- Carte Musique -->
<div class="card-musique card-wide mdl-card mdl-cell--6-col mdl-shadow--3dp" background="">
    <!-- Titre -->
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Musique</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Blabla
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
         Open
      </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>

<!-- Carte Pro -->
<div class="card-pro card-wide mdl-card mdl-cell--6-col mdl-shadow--3dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Pro</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Blabla
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Open
    </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>

<!-- Carte Ecole -->
<div class="card-etudes card-wide mdl-card mdl-cell--6-col mdl-shadow--3dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Ecole</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Blabla
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Open
    </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>

<!-- Carte Archives -->
<div class="card-archives card-wide mdl-card mdl-cell--6-col mdl-shadow--3dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Archives</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Blabla
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Open
    </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>
{% endblock %}
